# Ignore PyCharm config folder
.idea

# Ignore all pycache folder
__pycache__/

# Ignore snakemake folder
.snakemake/

# Ignore test run results
/dge_pipeline/tests/ressources/reference/*.bt2
/dge_pipeline/tests/ressources/reference/*.fai
/dge_pipeline/tests/ressources/**/output_dir*/

#bwa index files
/dge_pipeline/tests/ressources/reference/*.amb
/dge_pipeline/tests/ressources/reference/*.ann
/dge_pipeline/tests/ressources/reference/*.bwt
/dge_pipeline/tests/ressources/reference/*.pac
/dge_pipeline/tests/ressources/reference/*.sa


# Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb

## Intermediate documents:
*.dvi
*.xdv
*-converted-to.*
# these rules might exclude image files for figures etc.
*.ps
*.eps
*.pdf

*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml

# Build tool auxiliary files:
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync
